@font-face {
	font-family: Shabnam;
	src: url("assetes/fonts/Shabnam.woff"), url("assetes/fonts/Shabnam.woff2") format(".woff2");
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Shabnam;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
a:visited {
	color: transparent;
}
.mobile-nav-color {
	color: #1f8360;
}
.mobile-nav-color a {
	color: #1f8360;
}
.text-pistachio {
	color: #1f8360;
}
.bg-gray {
	background-color: #e0e0e0;
}
.bg-gray-dark {
	background-color: #dadada;
}
.bg-sub {
	background-color: #e4fffa;
}
/* Page-1 styles */
.header {
	width: 100%;
}
/* Navbar */
.mobile-logo {
	background: url(assetes/img/009_logo_Bg.svg) no-repeat;
	background-position: right;
	margin-top: 5.125rem;
}
.logo-mobile {
	height: 5rem;
	width: 5rem;
}

.top-wave {
	position: absolute;
	top: 0;
	right: 0;
	background: url(assetes/img/009_logo_Bg.svg) no-repeat;
	background-position: right;
	width: 30rem;
	height: 15rem;
	z-index: -1;
}
.top-ripple {
	position: absolute;
	top: 0;
	left: 0;
	background: url(assetes/img/010_header_wave.png) no-repeat;
	width: 15rem;
	height: 15rem;
	z-index: -1;
}
.red-button {
	background: linear-gradient(180deg, #f88a6b, #e15533);
	border-radius: 2rem;
	padding: 0.4rem 2rem;
	border-top: 2px solid #777777;
	border-left: 2px solid #777777;
	border-bottom: 2px solid #212121;
	border-right: 2px solid #212121;
}
.logo-desktop {
	width: 5rem;
	height: 5rem;
}
.menu {
	color: #353a40;
	font-size: 1.2rem;
}
.menu:hover {
	background: #333333;
	border-radius: 6px;
	color: white !important;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
	.nav-list a {
		font-size: 0.975rem;
	}
	.right h4 {
		font-size: 1.2rem;
	}
	.left a {
		font-size: 1rem !important;
	}
	.logo-desktop {
		width: 4rem;
		height: 4rem;
	}
}

/* introduction content */
.intro {
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.intro-img {
	z-index: 3;
}
.intro-img img {
	max-height: 25rem;
	position: absolute;
}
.intro-content {
	z-index: 4;
}
.intro-title {
	font-size: 2.8rem;
}
.intro-title > p:nth-child(2) {
	border-bottom: 2px solid #1f8360;
}
.intro-wave {
	position: relative;
	width: 100vw;
	flex-grow: 1;
	height: 10rem;
}
@keyframes wave1 {
	from {
		/* transform: translateX(-60rem); */
		transform: translateX(-10%);
	}
	to {
		/* transform: translateX(-25rem); */
		transform: translateX(0%);
	}
}
.wave-1 {
	width: 120vw;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(assetes/img/bg-wave.png) content-box;
	background-size: cover;
	animation: wave1 3s infinite alternate linear;
	z-index: 1;
}
@keyframes wave2 {
	from {
		transform: translateX(-15%);
		/* transform: translateX(-10vw); */
	}
	to {
		transform: translateX(0%);
		/* transform: translateX(10vw); */
	}
}
.wave-2 {
	width: 110vw;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(assetes/img/020_dlbox_bg2.svg);
	background-size: cover;
	animation: wave2 5s infinite alternate-reverse linear;
	z-index: 2;
}

/* Page-2 */

.info-middle {
	position: relative;
}
.icon {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid #43f6bc;
}
.icon > i {
	font-size: 1.6rem;
	color: #2caa7e;
}
.info-line {
	min-height: 100%;
	width: 2px;
	background-color: #43f6bc;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
/* Download section */
.card {
	border: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card input {
	outline: none;
	border: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.download-title h4 {
	color: #1f8360;
}
.download-icon {
	width: 8rem;
	height: 8rem;
}
.download-icon-ds {
	width: 6rem;
	height: 6rem;
}

.download-button {
	width: 10rem;
	align-self: center;
	background: linear-gradient(180deg, #43f5b8, #2ca780);
}
.dlbox-mobile div {
	width: 8rem;
}
.dlbox-desktop .red-button {
	z-index: 1;
	cursor: pointer;
}
.dlbox-desktop input {
	transform: translateX(-2rem);
	z-index: 0;
}
.dlbox-desktop input:focus {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}
.cafebazzar {
	width: 1.5rem;
	height: 1.5rem;
}
/* Prepare section */
.prepare {
	min-width: 100vw;
	/* background: url(assetes/img/022_bg_amadegisafar.svg) no-repeat;
	background-size: contain;
	background-position: top; */
}

.bg-img {
	position: relative;
}
.bg-img > .red-button {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}
.prepare-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.img2 {
	height: 14rem;
	width: 100%;
	opacity: 0.6;
}
/* Scroll image section */
.scroll-box {
	height: 10rem;
	overflow-x: auto;
}
.scroll-img {
	height: 100%;
	margin: 0 0.5rem;
}
.scroll-img img {
	width: 15rem;
}
/* Subscription section */
.btn-sub {
	border: 0;
	padding: 0.5rem 2rem;
	background: linear-gradient(180deg, #f68667, #e05633);
}
.btn-sub:active {
	background: linear-gradient(90deg, #f68667, #e05633);
}
.mobile-sub * {
	margin: 1.5rem 0;
}
.desktop-sub {
	width: 25rem;
}
.desktop-sub > div {
	transform: translateX(2.5rem);
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	width: 8rem;
}
/* Footer */
footer {
	width: 100vw;
	height: 15rem;
	background-image: url(assetes/img/025_footer_Bg.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
footer > img {
}
/* Media Queries */
@media screen and (max-width: 1000px) {
	.info-left {
		font-size: 0.875rem;
	}
	.prepare-box {
		font-size: 0.75rem;
	}
	.prepare-box h3 {
		font-size: 1.4rem;
		color: #1f8360;
	}
}
@media screen and (min-width: 767px) {
	.info {
		min-height: 100vh;
	}
	.download {
		min-height: 50vh;
	}
	.prepare {
		min-height: 25vh;
	}
}

@media screen and (max-width: 400px) {
	.icon {
		width: 3rem;
		height: 3rem;
	}
	.icon > i {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 300px) {
	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	.icon > i {
		font-size: 1rem;
	}
	.prepare-box {
		font-size: 0.75rem !important;
	}
}
@media screen and (max-width: 767px) {
	.intro {
		margin-top: 2rem;
	}
	.intro-content > p {
		font-size: 0.85rem;
		padding: 0 2rem;
	}
	.intro-title {
		font-size: 2rem;
		padding: 0 2rem;
	}
	.intro-img img {
		max-width: 100%;
		position: relative;
	}
	.wave-1 {
		animation: wave1 1s infinite alternate linear;
	}
	.wave-2 {
		animation: wave2 2.5s infinite alternate-reverse linear;
	}
	.card {
		border: none;
		box-shadow: none;
	}
	.prepare-box {
		color: #212121;
		font-size: 1rem;
	}
}
@media screen and (min-width: 1100px) {
	.intro-wave {
		height: 10rem;
	}
}
